---
# Main stylesheet
---

$main_color: #1F5673;
$secondary_color: darken($main_color, 10%);
$black: darken($main_color, 20%);
$white: lighten($main_color, 70%);
$time: 0.5s;

@import "lib/csstyle";
@import "lib/scut";
@import "mixins/boxsizing";
@import "mixins/zindex";
@import "components/body";
@import "components/header";
@import "components/content";
@import "components/simulation";
@import "components/thumbnail";
@import "components/arrow";
