---
# Main stylesheet
---

@import "csstyle";
@import "scut";
@import "zindex";
@import "boxsizing";

$main_color: #1F5673;

@include component(body) {
	margin: 0;
	padding: 0;
	background: $main_color;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	h1, h2, h3, h4, h5, h6 {
		font-family: 'Raleway', sans-serif;
	}
	h1 {
		font-size: 2.618em;
	}
	h2 {
		font-size: 1.618em;
	}
	h3, h4, h5, h6 {
		font-size: 1em;
	}
}

@include component(header) {
	display: block;
	position: relative;
	background: darken($main_color, 10%);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	padding: 1em;
	overflow: none;
	@include part(title) {
		position: relative;
		margin: 0;
		color: lighten($main_color, 70%);
		@include zindex(above);
		small {
			font-size: 0.5em;
			@media all and (max-width: 700px) {
				display: block;
			}
		}
		a {
			color: lighten($main_color, 70%);
			text-decoration: none;
			transition: color 1s;
			&:hover {
				color: lighten($main_color, 50%);
			}
		}
	}
	@include part(background) {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		transition: opacity 1s;
	}
	// hack. currently no better way.
	&:hover .header__background {
		opacity: 1;
	}
	@include part(source-code) {
		position: absolute;
		top: 0;
		right: 0;
		border: 0;
		@include zindex(above);
		@media all and (max-width: 1400px) {
			display: none;
		}
	}
}

@include component(content) {
	padding: 1em;
	margin: auto;
	max-width: 1213.5px;
	color: black;
	a {
		color: black;
		transition: color 1s;
		&:hover {
			color: lighten($main_color, 70%);
		}
	}
}
@include component(simulation) {
	display: block;
	margin: 1em auto 0 auto;
	position: relative;
	background: black;
	@include zindex(above);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

@include component(arrow) {
	position: absolute;
	@include scut-vcenter-tt;
	@include zindex(top);
	transition: border 1s;
	&.hide {
		display: none;
	}
	@include option(previous) {
		@include scut-triangle(
			$direction: left,
			$size: 5em,
			$color: darken($main_color, 10%)
			);
		left: 1em;
		&:hover {
			@include scut-triangle(
				$direction: left,
				$size: 5em,
				$color: darken($main_color, 20%)
				);
		}
	}
	@include option(next) {
		@include scut-triangle(
			$direction: right,
			$size: 5em,
			$color: darken($main_color, 10%)
			);
		right: 1em;
		&:hover {
			@include scut-triangle(
				$direction: right,
				$size: 5em,
				$color: darken($main_color, 20%)
				);
		}
	}
}

@include component(thumbnail) {
	width: 25%;
	padding: 0.5em;
	text-align: center;
	display: inline-block;
	@include part(link) {
		text-decoration: none;
		color: white;
	}
	@include part(image) {
		max-width: 100%;
		height: auto;
		position: relative;
	}
	@media all and (max-width: 700px) {
		width: 50%;
	}
	@include part(title) {
		opacity: 0;
		transition: opacity 1s;
	}
	&:hover .thumbnail__title {
		opacity: 1;
	}
}
