/*
* Scut, a collection of Sass utilities
* to ease and improve our implementations of common style-code patterns.
* v1.0.1
* Docs at http://davidtheclark.github.io/scut
*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  margin: 0;
  padding: 0;
  background: #1F5673;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; }

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.618em; }

header {
  display: block;
  position: relative;
  background: #14384b;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 1em;
  overflow: none; }
  header h1 {
    position: relative;
    margin: 0;
    color: white;
    z-index: 2; }
  header small {
    font-size: 0.5em; }
    @media all and (max-width: 700px) {
      header small {
        display: block; } }
  header a {
    color: white;
    text-decoration: none;
    transition: color 1s; }
    header a:hover {
      color: #a9d2e8; }
  header canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 1s; }
  header:hover canvas {
    opacity: 1; }

#github {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 2; }
  @media all and (max-width: 1400px) {
    #github {
      display: none; } }

section {
  display: block;
  position: absolute;
  width: 100%;
  transition: opacity 1s; }
  section .description {
    padding: 1em;
    margin: auto;
    max-width: 1213.5px; }
  section:not(.active) {
    opacity: 0; }
  section canvas {
    display: block;
    margin: 1em auto 0 auto;
    position: relative;
    z-index: 2;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

#previous, #next {
  position: absolute;
  position: absolute;
  top: 50%;
  margin-top: auto;
  margin-bottom: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 3;
  transition: border 1s, opacity 1s; }
  #previous:hover, #next:hover {
    cursor: pointer; }
  #previous.hide, #next.hide {
    opacity: 0; }
    #previous.hide:hover, #next.hide:hover {
      cursor: auto; }

#previous {
  display: inline-block;
  height: 0;
  width: 0;
  -webkit-transform: rotate(360deg);
  border-width: 2.5em 5em;
  border-style: solid;
  border-color: transparent;
  border-right-color: #14384b;
  border-left-width: 0;
  left: 1em; }
  #previous:hover {
    display: inline-block;
    height: 0;
    width: 0;
    -webkit-transform: rotate(360deg);
    border-width: 2.5em 5em;
    border-style: solid;
    border-color: transparent;
    border-right-color: #091a23;
    border-left-width: 0; }

#next {
  display: inline-block;
  height: 0;
  width: 0;
  -webkit-transform: rotate(360deg);
  border-width: 2.5em 5em;
  border-style: solid;
  border-color: transparent;
  border-left-color: #14384b;
  border-right-width: 0;
  right: 1em; }
  #next:hover {
    display: inline-block;
    height: 0;
    width: 0;
    -webkit-transform: rotate(360deg);
    border-width: 2.5em 5em;
    border-style: solid;
    border-color: transparent;
    border-left-color: #091a23;
    border-right-width: 0; }

/*# sourceMappingURL=style.css.map */
